*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./assets/background.jpg") no-repeat;
    background-size: cover;
}
.clock{
    width: 100%;
    max-width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 9px white;
    background-color: rgba(0,0,0,0.5);
    min-height: 20vh;
    border-radius: 6px;
}
.clock h1{
    font-size:4rem;
    color: #fcff00;
}
.clock span{
    font-size:2rem;
    color: #e60808;
    position: relative;
    top: -2vh;
}