*{
    
    margin: 0;
    padding: 0;
}
body{
    background-color: #b98fe0;
}
.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    padding-top: 50px;
    background-color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in 0s;
}
.sidebar nav{
    padding: 10px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 20px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
    padding: 10px;
    padding-left: 20px;
    flex-wrap:wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
}

.contactForm{
    font-family:monospace;
    padding: 0px 40px;
    padding-top: 50px;
}
.contactForm h1{
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    box-shadow: 0px 8px 15px grey;
    margin-bottom: 10px;
}
.contactForm div{
    padding: 18px 0;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#emailHelp{
    font-size: 16px;
    padding-top: 0px;
    margin-left: 30px;
    color: midnightblue;
}
button{
    margin-top: 1vh;
font-size: 20px;
padding: 10px;
margin-left: 25vw;
border-radius: 10px;
color: white;
background-color: #246060;
border: 1px solid grey;
font-weight: bold;
cursor: pointer;
}
button:hover{
color: #246060;
background-color: white;

}
.email{
    display: flex;
    flex-direction: column;
}
.email input{
    width: 50vw;
    height: 4vh;
    border-radius: 5px;
    font-size: 20px;
}
.name{
    display: flex;
    flex-direction: column;
}
.name input{
    width: 50vw;
    height: 4vh;
    border-radius: 5px;
    font-size: 20px;
}
.comment{
    display: flex;
    flex-direction: column;
}
.comment textarea{
    width: 50vw;
    height: 10vh;
    border-radius: 5px;
    font-size: 20px;
}
.check{
    flex-direction: row;
}
.check input{
    width: 6vw;
    height: 4vh;
    margin-right: 10px;
}
.hamburger{
    position: absolute;
    left: 5px;
    top: 10px;
    cursor: pointer;
}
.sidebarOut{
    transform: translate(-180px,0px);
    }
/* @media (max-width:1345px) {
    .myPhoto img{
        height: 40vh;
    }
} */