*{
    
    margin: 0;
    padding: 0;
}
body{
    background-color: #b98fe0;
}
.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    padding-top: 50px;
    background-color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in 0s;
}
.sidebar nav{
    padding: 10px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 20px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
    padding: 10px;
    padding-left: 20px;
    flex-wrap:wrap;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
}
.info{
    /* background-color: green; */
    height: 60vh;
    width: 88vw;
    margin: 144px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wave{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nameInfo{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
 }
.moreInfo{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.detailInfo{
    font-size: 25px;
    margin-top: 10px;
    font-family: cursive;
}
.buttons button{
        margin-top: 35px;
    font-size: 25px;
    padding: 10px;
    margin-left: 50px;
    border-radius: 45px;
    color: white;
    background-color: #246060;
    border: 1px solid grey;
    font-weight: bold;
    cursor: pointer;
}
.buttons button:hover{
    color: #246060;
    background-color: white;

}
.myInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.myPhoto img{
    height: 60vh;
}
.hamburger{
    position: absolute;
    left: 5px;
    top: 10px;
    cursor: pointer;
}
.sidebarOut{
    transform: translate(-180px,0px);
    }
@media (max-width:1900px) {
.wave{
    font-size: 30px;
}
.nameInfo{
    font-size: 40px;
 }
.moreInfo{
    font-size: 15px;
}
.detailInfo{
    font-size: 12.5px;
    margin-top: 5px;
}
.buttons button{
        margin-top: 17px;
    font-size: 12.5px;
    padding: 5px;
    margin-left: 25px;
    border-radius: 22.5px;
}
}
@media (max-width:1345px) {
    .myPhoto img{
        height: 40vh;
    }
}
@media (max-width:1095px) {
    .myPhoto img{
        height: 30vh;
    }
}
@media (max-width:940px) {
    .info{
        flex-direction: column-reverse;
    }
}